.client-logo-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 47px 0 43px;
}

.logo-list {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
px
;
    overflow: hidden;
    
}

.client-item {
 margin-right: 50px;
  margin-left: 50px;
  animation-name: slide;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}
.slide-item h3 {
  line-height: 1.1;
}
.slide-item img {
  filter: grayscale(1);
}
.slide-item img:hover {
  filter: grayscale(0);
}